@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
#top-body{
    color: #191718;
    text-align:left;
    margin-top: 250px;
    margin-bottom: 250px;
    font-size: 30;
}

hr {
  color: black;
}
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{

    background-size:cover;
      overflow-x: hidden; /* Cacher la barre de défilement horizontale */
    background-color: #E0E5E9;
}
/*POLICE SP2CIAL POUR LE SITE*/
.anonymous-pro-regular {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .anonymous-pro-bold {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .anonymous-pro-regular-italic {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .anonymous-pro-bold-italic {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: italic;
  }

    /*<uniquifier>: Use a unique and descriptive class name
     <weight>: Use a value from 300 to 900*/

    .merienda-uniquifier {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    }

/*BARRE DE NAVIGATION */

.nav-bar{
    align-items:baseline;
    font-size: 40px;
}
p {
  text-align:center;
  margin: 50;

}

h1 {
  font-family: 'anton-regular', sans-serif;
  color: #F3D849;
  margin-left:10;
  display: inline-block; 
  text-shadow: 1px 1px 2px #191718; /* Ombre noire */
}
h2{
  font-family: 'anton-regular', sans-serif;
  color: #F3D849;
  margin-left: 20;
  display: inline-block; 
  flex-grow: 0;
  text-shadow: 1px 1px 2px #191718; /* Ombre noire */
}

hr {
  border: none;
  border-top: 2px solid #191718; /* Couleur de la ligne */
  flex-grow: 0.95; /* Marge entre le titre et la ligne */
}

nav ul {
  list-style-type: none;
  margin-left: 1300px;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-shadow: 1px 1px 2px #191718; /* Ombre noire */
  display: inline-block;
  color: #F3D849;
  text-decoration: none;
  padding: 10px 20px;
}

nav {
  display: inline-block;
}

nav ul li a {
  text-shadow: 1px 1px 2px #191718; /* Ombre noire */
  display: inline-block;
  color: #F3D849;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;
}

nav ul li a:hover::after {
  text-shadow: 1px 1px 2px #191718; /* Ombre noire */
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #F3D849;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease;
}

#header {
  left: 0%;
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(0px); /* Initialiser sans flou */
  transition: backdrop-filter 0.9s ease; /* Ajouter une transition pour une animation fluide */
}

.blurred {
  backdrop-filter: blur(20px); /* Ajouter le flou après le premier scroll */
}

   /* CUBE */
div.float {
    float: left;
    padding-left:130px;
}

.carre {
  width: 450px;
  height: 450px;
  border-radius: 15px;
  box-shadow: 
      -20px 20px 0px 0px #F3D849, /* Ombre blanche portée sur la gauche (opaque) */
      -21px 21px 0px 0px #F3D849; /* Bordure noire autour de l'ombre */
  color: #E0E5E9; /* Couleur du texte */
  display: flex; /* Permet de centrer le contenu */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  text-align: left;
  font-size:62;
  justify-content: center;
  align-items: center;
  background-color:#191718;
  transition: transform 0.3s ease; /* Transition pour un effet fluide */
}

.carre:hover {
  transform: scale(1.1); /* Agrandir de 10% au survol */
}

.triangle {
  width: 950px;
  height: 450px;
  border-radius: 15px;
  box-shadow: 
      -20px 20px 0px 0px #F3D849, /* Ombre blanche portée sur la gauche (opaque) */
      -21px 21px 0px 0px #F3D849; /* Bordure noire autour de l'ombre */
  color: #E0E5E9; /* Couleur du texte */
  display: flex; /* Permet de centrer le contenu */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  text-align: left;
  font-size:xx-large;
  justify-content: center;
  align-items: center;
  margin-left: 350px;
  background-color:#191718;
  transition: transform 0.3s ease; /* Transition pour un effet fluide */
}

.triangle:hover {
  transform: scale(1.1); /* Agrandir de 10% au survol */
}

.container {
  display: flex;
  justify-content: center; /* Centre les cubes horizontalement */
}
    

.carrePro {
  margin: 200px;
  width:550px;
  height: 750px;
  border-radius: 15px;
  box-shadow: 
      -20px 20px 0px 0px #F3D849, /* Ombre blanche portée sur la gauche (opaque) */
      -21px 21px 0px 0px #F3D849; /* Bordure noire autour de l'ombre */
  color: #E0E5E9; /* Couleur du texte */
  display: flex; /* Permet de centrer le contenu */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  text-align: center;
  font-size:xx-large;
  justify-content: center;
  align-items: center;
  background-color:#191718;
  transition: transform 0.3s ease; /* Transition pour un effet fluide */
}

.carrePro:hover {
  transform: scale(1.1); /* Agrandir de 10% au survol */
}

.carreComp {
  margin: 50px;
  width:650px;
  height: 250px;
  border-radius: 15px;
  box-shadow: 
      -20px 20px 0px 0px #F3D849, /* Ombre blanche portée sur la gauche (opaque) */
      -21px 21px 0px 0px #F3D849; /* Bordure noire autour de l'ombre */
  color: #E0E5E9; /* Couleur du texte */
  display: flex; /* Permet de centrer le contenu */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  text-align: center;
  font-size:xx-large;
  justify-content: center;
  align-items: center;
  background-color:#191718;
  transition: transform 0.3s ease; /* Transition pour un effet fluide */
}

.carreComp:hover {
  transform: scale(1.1); /* Agrandir de 10% au survol */
}

.top-contain {
  display:flex;
  align-items: center;
}

.carreProp {
  margin: 100px;
  width:800px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 
      -20px 20px 0px 0px #F3D849, /* Ombre blanche portée sur la gauche (opaque) */
      -21px 21px 0px 0px #F3D849; /* Bordure noire autour de l'ombre */
  color: #E0E5E9; /* Couleur du texte */
  display: flex; /* Permet de centrer le contenu */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  text-align: center;
  font-size:xx-large;
  justify-content: center;
  align-items: center;
  background-color:#191718;
  transition: transform 0.3s ease; /* Transition pour un effet fluide */
}

.carreProp:hover {
  transform: scale(1.1); /* Agrandir de 10% au survol */
}
footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #191718;
  color: #fff;
}

.Projet{
  width: 100px;
 height: 100px;
}

.Competence{
  width: 100px;
 height: 100px;
}

.Propos{
  width: 100px;
 height: 100px;
}
